name: Build and Push SDK Package

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag (e.g., v0.0.1)'
        required: true
        type: string

jobs:
  build-wheel:
    uses: trading-cz/github-action/.github/workflows/python-build-wheel.yml@main
    with:
      python-version: '3.12'
      pyproject-path: 'pyproject.toml'
